.bg-intro { background:#995312;
}

.bg-dias { background:#171f99;
}

.bg-midias { background:#09bfdf;
}

.bg-amigos { background:#489c0f;
}

.bg-bebidas { background:#f700ff;
}

.bg-shows { background:#1b2391;
}

.bg-resumo { background:#b39da9;
}