/* base  */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040f36;
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
}

body.fundo-ponto {
  background-color: #040f36;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.fundo-programacao {
  background-color: #040f36;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

body.fundo-retro {
  background-color: #040f36;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

