
.bg-intro {
  background-image: url('./imagens/testeintro.png'); 
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;


}

.bg-intro h1 {
  font-size: 3rem;
  color: #fff;
}