
.bg-intro {
  background-image: url('./imagens/intro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -20px;

}

.bg-intro h1 {
  font-size: 3rem;
  color: #fff;
}