@font-face {
  font-family: 'Averia';
  src: url('../fonts/Averia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CitizenSans';
  src: url('../fonts/CitizenSans-Public.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.calendario {
  margin: 80px auto 20px auto;
  padding: 15px 5%;
  max-width: 90%;
  margin-top: 80px;
  width: 350px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.cabeçalho {
  font-size: clamp(16px, 4vw, 20px);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.Mes { 
  font-family: 'CitizenSans', sans-serif;
  font-size: 24px !important; 
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 20px; 
}

.semanas{
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.dias{
  letter-spacing: 1px;
}

.semanas,
.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.flag {
  font-family: 'Averia', sans-serif;
  color: #eeeeee;
  width: 100%;
  border-top-left-radius: 30%;
  max-width: 80px;
  margin: auto;
  aspect-ratio: 1 / 1.1;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 800;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}

.flag.fora {
  background-color: #0b5c9e8e;
  opacity: 0.5;
}

.flag.bloqueado {
  background: #991710;
}

.flag.encerrado {
  background: #797171;
}

.flag.disponivel {
  background: #1f7a31;
}

#voltarMes,
#proximoMes {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: clamp(20px, 6vw, 26px);
  font-weight: 900;
}


#voltarMes{
  left: -5px;
}
#proximoMes {
  right: -5px;
}