.janelalogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f0f1f5e7;
  width: 90%;
  max-width: 300px;
  padding: 30px 5% 100px;
  border-radius: 15px;
  text-align: center;
}

.link-cadastro, .link-login {
  color: #991710;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

.janelalogin p {
  font-size: 16px;
  margin-top: 15px; 
}

.janelalogin input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  outline: none;
}

.btn-google {
  background: #fff !important;
  color: #444444f3 !important;
  border: 1.5px solid #ddd !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-google:hover {
  background: #f7f7f7bb !important;
}

.janelalogin button,
.botoes-logar-registrar button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  background: #aca8a8;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
}

#loginForm button,
#registerForm button {
  font-weight: 600;
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  border: none;
  background: #991710;
  color: #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}

.botoes-logar-registrar {
  display: flex;
  flex-direction: row;   
  gap: 10px;
  width: 100%;
}

.botoes-logar-registrar button.active {
  background: #817f7f;
}

.btnLogin {
  transition: all 0.2s ease;
}


#loginForm button:active, 
#registerForm button:active {
  background: #991710;
}

.input-com-icone {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

.input-com-icone i:first-of-type {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #818181;
  font-size: 18px;
  pointer-events: none;
  z-index: 10;
}

.input-com-icone input {
  width: 100%;
  padding: 12px 40px 12px 40px; 
  border-radius: 6px;
  border: 1px solid #818181;
  outline: none;
  font-size: 16px;
  box-sizing: border-box; 
}

.btn-olho {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  z-index: 20;
}

.btn-olho i {
  font-size: 18px !important;
  pointer-events: none;
}

#loginForm h2, 
#registerForm h2 {
  margin: 15px;
  white-space: nowrap;
}

.esqueci-senha {
  display: block;
  margin-top: 20px;     
  font-size: 14px;
  color: #2B2525;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.esqueci-senha:hover {
  text-decoration: underline;  
  color: #991710;
}

.janela-recuperacao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 90%; 
  max-width: 350px;     
  padding: 40px 5% 120px; 
  border-radius: 15px;
  text-align: center;
  z-index: 1000;    
}

.janela-recuperacao input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #818181;
  outline: none;
  margin: 20px 0;
}

.janela-recuperacao button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  background: #991710;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.janela-recuperacao h2 {
  margin: 10px;
  white-space: nowrap;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}