/* CABEÇALHO */
.cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 16px;
  min-height: 70px; /* ajustado */
  background: rgba(8, 3, 0, 0);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 500;
  position: relative;
}

.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /* 🔥 até antes do menu */
  background-image: url("/frontend/versao-mobile/css/imagens/casaeluzes.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* ENTRAR */
.area-login {
  position: absolute;
  right: 16px;
}

/* LOGO */
.logo {
  position: absolute;
  left: 16px; 
  color: white;
}

/* TÍTULO */
#titulo-topo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

/* BOTÃO LOGIN */
.btnLogin {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnLogin:hover {
  background-color: #e91010;
}

/* MENU */
.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(8, 3, 0, 0.801);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
}

.nav-bottom button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 8px 22px;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.849);
  cursor: pointer;
  border-radius: var(--radius-md);
  transition: color 0.2s ease;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.nav-bottom button i {
  font-size: 20px;
}

.nav-bottom button span {
  display: none;
}

/* PÁGINAS */
.pagina {
  display: none;
}

.pagina.active {
  display: block;
}