@font-face {
  font-family: 'MADE';
  src: url('/frontend/versao-mobile/css/fonts/MADE\ Soulmaze\ Italic\ PERSONAL\ USE.otf') format('truetype');
}

.cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 16px;
  min-height: 70px;
  background: none;
  position: sticky;
  top: 0;
  z-index: 500;
  position: relative;
}

.area-login {
  position: fixed;  
  top: 0;           
  right: 16px;
  z-index: 999;
}

.btnLogin {
  background-color: #991710;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  font-size: 11px;
  font-weight: 700; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 50% 100%, 0 78%);
}

#titulo-topo {
  font-family: 'MADE', sans-serif;
  position: absolute;
  left: 1px;
  top: 75%;
  transform: translateY(-50%);
  color: hsl(150, 3%, 69%);
  font-size: 35px;
  font-weight: bold;
  white-space: nowrap;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: rgba(8, 3, 0, 0.801);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
}

.nav-bottom button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: rgba(78, 100, 55, 0);
  color: #949290;
  transition: all 0.3s ease;
}

.nav-bottom button i,
.nav-bottom button span {
  position: relative;
  z-index: 2;
}

.nav-bottom button i {
  font-size: 20px;
}

.nav-bottom button span {
  display: none;
}

.nav-bottom button.active {
  color: #ffffff;
  transform: translateY(-3px);
}

.pagina {
  display: none;
}

.pagina.active {
  display: block;
}