/* CABEÇALHO */
.cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 16px;
  min-height: 70px;
  background: rgba(8, 3, 0, 0);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 500;
  position: relative;
}

/* ENTRAR */
.area-login {
  position: absolute;
  right: 16px;
}

/* LOGO */
.logo {
  position: absolute;
  left: 16px; 
  color: white;
}

/* TÍTULO */
#titulo-topo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

/* BOTÃO LOGIN */
.btnLogin {
  font-size: 15px !important;
  border-radius: 8px;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnLogin:hover {
  background-color: #e91010;
}

/* MENU */
.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: rgba(8, 3, 0, 0.801);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
}

/* BOTÕES */
.nav-bottom button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: rgba(78, 100, 55, 0);
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease;
}

/* GARANTE ÍCONE NA FRENTE */
.nav-bottom button i,
.nav-bottom button span {
  position: relative;
  z-index: 2;
}

/* ÍCONE */
.nav-bottom button i {
  font-size: 20px;
}

/* TEXTO */
.nav-bottom button span {
  display: none;
}

/* BOTÃO ATIVO */
.nav-bottom button.active {
  color: #b5b807;
  transform: translateY(-3px);
}

/* PÁGINAS */
.pagina {
  display: none;
}

.pagina.active {
  display: block;
}