.modal-editar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
}

.conteudo-modal {
  background: #fdfdfb;
  width: 95%;
  max-width: 400px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  animation: subirModal 0.25s ease;
}

#tituloEdicao {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

#listaEdicao {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.item-edicao {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.item-edicao input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-edicao {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.btn-deletar, .btn-adicionar {
  width: 25px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

.btn-deletar {
  background: #e74c3c;
}

.btn-adicionar {
  background: #18bb13;

}

.conteudo-modal > button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.conteudo-modal > button:first-of-type {
  background: #ffcc00;
  color: #000;
}

.btn-editar-dia {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 4px 0;
  background: #ffcc00;
  color: #000000;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

