/* CONTAINER PRINCIPAL */
.carrossel-programacao {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
  padding: 0 15px; 
  box-sizing: border-box;
}

/* LISTA VERTICAL DOS DIAS */
.grid-programacao {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  width: 100%;
  max-width: 400px; 
  align-items: center; 
}

/* CARD DE CADA DIA */
.card-dia {
  padding: 15px 12px;
  border-radius: 12px;
  width: 100%; 
  display: flex;              
  align-items: center;
  justify-content: center; 
  gap: 15px;
  box-sizing: border-box;
}

/* DATA NA ESQUERDA */
.data-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60px; 
}

.data-dia .semana {
  color: #18bb13;
  font-size: 18px; 
}

.data-dia .dia {
  color: #b5b807;
  font-size: 43px; 
  font-weight: bold;
  line-height: 1;
}

.data-dia .mes {
  color: white;
  font-size: 18px;
}

/* CONTEÚDO À DIREITA (SHOWS) */
.conteudo-dia {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 70%; 
}

/* LINHA DE CADA SHOW */
.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 3px 0;
  width: 100%;
}

/* HORÁRIO  */
.hora {
  background-color: #ffd24d;
  font-weight: bold;
  color: #000000;
  font-size: 15px; 
  padding: 5px 12px; 
  white-space: nowrap;
  min-width: 50px;
  text-align: center;
}

/* NOME DO ARTISTA */
.artista {
  flex: 1;
  font-weight: bold;
  font-size: 18px; 
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* BOTÕES LATERAIS  */
.nav {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav:active {
  transform: scale(0.9);
}

.nav:nth-child(1) { left: 0; }
.nav:nth-child(3) { right: 0; }

/* DIAS PASSADOS */
.card-dia.passado {
  opacity: 0.5;
  filter: grayscale(60%);
}

.card-dia.hoje {
  background-color: #1136d82a;
}
